
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans ', sans-serif;
}

:root{
    --navColor:#fff;
    --navHover: #337ab7;
}

html{
    font-size: 62.5%;
    font-family: 'Work Sans ', sans-serif;;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

.section{
    padding: 3rem 0;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 5rem;
    display: block  ;
}

.Welcome-main{
    position: relative;
    background: url(images/welcome-banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 100vh;
    padding: 1rem 13rem;
}

.Welcome-main::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(42,45,84,.60);
    pointer-events: none;
    z-index: -1;
}

/* =================
header section
================= */

.header{
    display: flex;
    justify-content:space-between   ;
    align-items: center;
    height: 13rem;
    padding: 0 12.8rem;
    font-size: 2rem;
    color: var(--navColor);
    opacity: 7;
}

.navbar-lists{
    display: flex;
    gap: 6rem;
    list-style: none;
    margin-right: 6rem;
}

.nav-link:link,
.nav-link:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--navColor);
    transition: all 0.3s;
    font-family: system-ui;
}

.nav-link:hover,
.nav-link:active{
    color: var(--navHover);
}

.navbar-brand{
    display: inline-block;
    color: var(--navColor);
    font-family: 'Rufina', serif;
    font-size: 3.4rem;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 45px 0px;
    text-transform: uppercase;
}

/* =================
main-body section
================= */

.main-section{
    /* padding: 37rem */
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 16.4rem;
    text-align: center;
}

.main-para{
    font-size: 2.8rem;
    text-transform: initial;
    color: var(--navColor);
    font-weight: 500;
    margin: 0 auto;
    max-width: 99rem;
}

.main-heading{
    font-weight: 800;
    color: var(--navColor); 
}